page-settings {


  .button {
    height: 50px;
    width: 330px;
    background-color: #fa1630;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
    margin-top: 20%;
  }


}
