page-overview {

    #header {
      color: #374a72;
      font-size: 20px;
      font-weight: bold;
      background-color: lightgrey;
    }

    #content{
      color: #374a72;
      font-size: 13px;
      font-weight: bold;
      margin-top: 1%;
    }



}
