page-settings {


  #logo {
  width: 60%;
  height: 60%;
  margin-left: 22%;
  margin-right: 30%;
  margin-top: 40%;

  }

  #logoImage{
  background-color: transparent;
  height: 100%;
  width: 100%;
  }
}
