page-statistic {


  #logo {
  width: 60%;
  height: 60%;
  margin-left: 22%;
  margin-top: 30%;
  text-align: center;
  }

  #logoImage{
  background-color: transparent;
  height: 100%;
  width: 100%;
  }
}
