page-paindoc {


  .button {
    height: 50px;
    background-color: #374a72;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
    margin-top: 10%;
  }

  .label {
    color: #374a72;
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
    margin-top: 5%;
  }
  .p {
    color: #374a72;
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
    margin-top: 5%;
  }

  #DateAndTime{
    color: #374a72;
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
    margin-top: 1%;
  }

  #painIntensity{
    color: #374a72;
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
    margin-top: 5%;
    margin-left: 9%;
}
#Help{
  font-size: 15px;
  font-weight: bold;
  margin: 5%;
  margin-top: 5%;
  margin-left: 9%;
}
}
