page-login {


  #logo {
  width: 80%;
  height: 50%;
  margin-left: 12%;
  margin-top: 15%;
  margin-bottom: 1%;

  }

  #logoImage{
  background-color: transparent;
  height: 100%;
  width: 100%;
  }

  .button {
    height: 50px;
    width: 330px;
    background-color: #374a72;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
}
