page-profil {


.button {
  height: 50px;
  background-color: #374a72;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 5%;
  margin-top: 10%;
}

.label {
  color: #374a72;
  font-size: 15px;
  font-weight: bold;
  margin: 5%;
  margin-top: 5%;
}

.input {
  color: #374a72;
  font-size: 15px;
  font-weight: bold;
  margin: 5%;
  margin-top: 5%;
}
}
